{sys, [
       {lib_dirs, [

        ] },

       {rel, "geonames", "1.0",
        [
         kernel,
         stdlib,
         sasl,
         geonames
        ] },
        {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "geonames"},
       {profile, embedded },
       {excl_lib, otp_root},
        {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
        {excl_archive_filters, [".*"]},
        {excl_app_filters, ["\.gitignore", "rebar", "test/*"]},
        {app, mnesia, [{incl_cond, include}]},
        {app, geonames, [{incl_cond, include}, {lib_dir,"../apps/geonames"} ]}
] }.

{target_dir, "geonames"}.

{overlay, [
           {mkdir, "log/sasl"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.